.principal{
    color: green;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
}
.titulo{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    color: 2;
    background-color: white;
}